nav {
	background-color: #333;
	border-bottom: 3px solid #000;
}

.navcon > ul > li > a {
	color: #ddd;
}

.navcon > ul > li > a:hover {
	border-color: #fff;
	color: #fff;
}

.greyrow {
	background-color: #757575;
}

.whiterow {
	background-color: #e0e0e0;
}

#advertwhite {
	background-color: #d1d1d1;
}

h4 {
	text-shadow: none;
}

.greyrow > .headconbody > .row > .description > .contentrow > #exfixed > .imgtitle > h4 {
	text-shadow: none;
}

#dt {
	background-color: #e0e0e0 !important;
}

.title {
	text-shadow: 2px 2px 0px #111;
}

.modal-dialog .modal-content {
	background-color: #d1d1d1;
}

#sidebartoggler:checked + #mnav .navcon .navbar .sidebarmenu {
	border-right: 3px solid #000;
}

.sidebarmenu {
	background-color: #181818;
}

.sidebarmenu > ul > a > li {
	border-color: #0B0B0B;
}

.sidebarmenu > ul > a > li:hover {
	background-color: #333;
}

