nav {
	background-color: #fff;
	border-bottom: 3px solid #f1f1f1;
}

.navcon > ul > li > a {
	color: #444;
}

.navcon > ul > li > a:hover {
	border-color: teal;
	color: teal;
}

.greyrow {
	background-color: #f5f5f5;
}

.whiterow {
	background-color: #fff;
}