@import url(https://fonts.googleapis.com/css?family=Roboto:700,500,400,300);

body {
	margin: 0;
	font: 14px Roboto;
	font-weight: 400;
	text-shadow: 0 1px rgba(230, 230, 230, 0.6);
	min-width: 320px;
	background: #ddd;
}

a {
	color: #888;
	text-decoration: none;
	transition: color 0.35s;
}

a:hover {
	color: #000;
}

body > div {
	position: fixed;
	width: 100%;
}

body > div#navbar {
	background: #fff;
	height: 60px;
	z-index: 3;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.7);
	transition: height 0.5s ease-out, box-shadow 0.5s ease-out;
	overflow: hidden;
}

body > div#navbar:hover {
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);
}

body > div#navbar:target {
	height: 270px;
}

body > div#navbar > div {
	clear: both;
}

body > div#navbar > div > a > div {
	padding: 15px 20px;
	font-size: 24px;
	float: left;
}

body > div#navbar > div:first-child > a:first-child > div {
	padding-top: 5px;
	padding-bottom: 0;
	font-size: 40px;
	transition: margin-left 0.5s ease-out;
}

body:target > div#navbar > div:first-child > a:first-child > div {
	margin-left: -70px;
}

body > div#header {
	top: 60px;
	height: 190px;
	#background: #aaf;
	background: #673AB7;
	z-index: 2;
}

body > div#header > div#button {
	background: #faa;
	border-radius: 200px;
	width: 130px;
	height: 130px;
	font-size: 20px;
	float: left;
	position: absolute;
	z-index: 2;
	bottom: -65px;
	left: -130px;
	transition: left 0.5s ease-out;
}

body:target > div#header > div#button {
	left: 185px;
}

body > div#content {
	top: 250px;
	height: calc(100% - 250px);
	z-index: 1;
}

body > div#content > div {
	height: 100%;
	position: absolute;
	overflow-y: auto;
}

body > div#content > div#nav {
	position: absolute;
	margin-left: -265px;
	width: 250px;
	background: #fff;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.7);
	transition: margin-left 0.5s ease-out;
	overflow-y: auto;
}

body:target > div#content > div#nav {
	margin-left: 0;
}

body > div#content > div#nav > a > div {
	padding: 11px 22px;
	font-size: 18px;
	transition: box-shadow 0.25s ease-out;
}

body > div#content > div#nav > a > div:hover {
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
}

body > div#content > div#cards {
	width: 100%;
	right: 0;
	transition: width 0.45s ease-out;
}

body:target > div#content > div#cards {
	width: calc(100% - 250px);
	transition: width 0.5s ease-out;
}

body > div#content > div#cards > div.column {
	float: left;
	width: 50%;
}

body > div#content > div#cards > div.column:first-child > div.card {
	margin-right: 0;
}

body > div#content > div#cards div.card {
	margin: 10px;
	padding: 15px 20px;
	background: #fff;
	transition: box-shadow 0.2s ease-out;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
	border-radius: 1px;
}

body > div#content > div#cards div.card:hover {
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
}

body > div#content > div#cards div#clearfix.card {
	clear: both;
}