body > div#content.grid {
	padding: 4px;
	width: calc(100% - 8px);
	background: none;
}

body > div#content > div#grid {
	column-count: 2;
	-moz-column-count: 2;
	column-gap: 4px;
	-moz-column-gap: 4px;
	line-height: 0;
	margin-bottom: -4px;
}

body > div#content > div#grid > a {
	height: calc(50vw - 24px);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border-radius: 0;
	display: inline-block;
	margin-bottom: 4px;
	width: 100%;
	line-height: 20px;
	position: relative;
	color: #fff !important;
	transition: box-shadow 0.25s;
}

body > div#content > div#grid > a > p {
	background: rgba(0, 0, 0, 0.4);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: calc(100% - 32px);
	padding: 12px 16px;
	margin: 0;
}

@media screen and (min-width: 600px) {
	body > div#content > div#grid {
		column-count: 3;
		-moz-column-count: 3;
	}

	body > div#content > div#grid > a {
		height: calc(33.33vw - 24px);
	}
}

@media screen and (min-width: 800px) {
	body > div#content > div#grid {
		column-count: 4;
		-moz-column-count: 4;
	}

	body > div#content > div#grid > a {
		height: calc(25vw - 24px);
	}
}

@media screen and (min-width: 1000px) {
	body > div#content > div#grid {
		column-count: 5;
		-moz-column-count: 5;
	}

	body > div#content > div#grid >a {
		height: calc(20vw - 24px);
	}
}

@media screen and (min-width: 1200px) {
	body > div#content > div#grid {
		column-count: 6;
		-moz-column-count: 6;
	}

	body > div#content > div#grid > a {
		height: calc(16.67vw - 24px);
	}
}

@media screen and (min-width: 1400px) {
	body > div#content > div#grid {
		column-count: 7;
		-moz-column-count: 7;
	}

	body > div#content > div#grid > a {
		height: calc(14.14vw - 24px);
	}
}

@media screen and (min-width: 1600px) {
	body > div#content > div#grid {
		column-count: 8;
		-moz-column-count: 8;
	}

	body > div#content > div#grid > a {
		height: calc(12.50vw - 24px);
	}
}