@import url(https://fonts.googleapis.com/css?family=Roboto:700,500,400,300);
@import url(extends.php);
@import url(shadows.css);

body {
	margin: 0;
	background: #ddd;
}

body, input, textarea, select, option, button {
	font: 14px Roboto;
	font-weight: 400;
	line-height: 24px;
	color: rgb(64, 64, 64);
}

body button {
	border: none;
	border-image-width: 0;
	border-radius: 2px;
	padding: 5px 8px;
	cursor: pointer;
	transition: box-shadow 0.25s;
	text-align: right;
	color: #fff;
	float: right;
	position: relative;
	font-weight: 500;
	text-transform: uppercase;
	display: block;
	background: #fff;
}

body button[type="reset"] {
	color: #ff5722 !important;
}

body button:hover {
	z-index: 2;
}

label, label > b, a.disabled {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}

body a {
	color: #999;
	text-decoration: none;
	transition: color 0.25s;
}

body img {
	width: 100%;
	display: block;
}

body a:hover {
	color: rgb(64, 64, 64);
}

body input.hide {
	display: none;
}

body .orange {
	background: #ff5722 !important;
}

input[type="text"], input[type="password"], textarea, select {
	border: none;
	border-bottom: 1px solid #ddd;
	background: none;
	width: calc(100% - 8px);
	resize: none;
	line-height: 22px;
	padding: 8px 4px;
	transition: border-bottom 0.25s;
}

body select {
	width: 100%;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
	outline: none;
	border-bottom: 1px solid #ff5722;
}

body input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

body a.round {
	background: #fff;
	border-radius: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

div.clearfix {
	clear: both;
	width: 100%;
	height: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
}

body > div#navbar {
	position: fixed;
	z-index: 3;
	height: 56px;
	width: 100%;
	background: #ff5722;
	border-top: 1px solid #ff5722;
	top: -1px;
	color: #fff;
	transition: height 0.25s;
}

body > div#navbar > div#nav {
	width: 300px;
	margin-left: -300px;
	background: #fff;
	height: 100%;
	z-index: 4;
	position: fixed;
	top: 0;
	bottom: 0;
	overflow: auto;
	font-weight: 500;
	transition: margin-left 0.25s, box-shadow 0.25s, width 0.25s;
}

body > div#navbar > div#nav > div {
	border-bottom: 1px solid #eee;
	padding-bottom: 8px;
}

body > div#navbar > div#nav > div:last-child {
	border-bottom: none;
}

body > div#navbar > div#nav > div > a {
	padding: 13px 16px 11px 16px;
	background: #fff;
	transition: background 0.25s, padding 0.25s;
	display: block;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.87);
}

body > div#navbar > div#nav > div > a:hover {
	background: #eee;
}

body > div#navbar > div#nav > div > a.subheader {
	background: #fff;
	opacity: 0.54;
}

body > div#navbar > div#nav > div > a > img {
	opacity: 0.54;
	display: block;
	width: 24px;
	float: left;
	margin-right: 32px;
	transform: translateY(-1px);
}

body > div#navbar > div#nav > label {
	color: #fff;
	position: relative;
	z-index: 2;
	display: block;
	overflow: auto;
	padding-bottom: 8px;
	padding-top: 8px;
}

body > div#navbar > div#nav > label > a {
	float: left;
	display: block;
	margin: 16px 0 8px 16px;
	transition: margin 0.25s;
	width: 64px;
	height: 64px;
}

body > div#navbar > div#nav > label > div {
	padding: 12px 20px 4px 16px;
	transition: padding 0.25s;
	line-height: 12px;
	clear: both;
}

body > div#navbar > div#nav > label > div:last-child {
	padding-top: 4px;
	padding-bottom: 12px;
	font-weight: 400;
}

body > div#navbar > div#nav > label > div > b {
	float: right;
	display: block;
	transform: rotate(45deg);
	font-size: 10px;
	transition: transform 0.25s;
}

body > div#navbar > div#nav > div > a#current {
	background: #eee !important;
	color: #ff5722 !important;
}

body > div#navbar > div#nav > div#extended {
	margin-top: -152px;
	border-bottom: none;
	transition: margin-top 0.25s, opacity 0.25s;
	opacity: 0;
	position: relative;
	z-index: 1;
}

body > div#navbar > div#nav > input#extendnav:checked ~ div#extended {
	margin-top: 0;
	opacity: 1;
}

body > div#navbar > div#nav > input#extendnav:checked ~ div#extended {
	border-bottom: 1px solid #eee;
}

body > div#navbar > div#nav > input#extendnav:checked ~ label > div > b {
	transform: rotate(225deg) translate(-1px, -1px);
}

body > div#navbar > a#open {
	position: relative; 
	height: 56px;
	cursor: pointer;
	display: flex;
	align-items: center;
	float: left;
}

body > div#navbar > a#open > div {
	padding: 0 20px;
	color: white;
	transform: scaleY(0.7);
	font-size: 24px;
	font-weight: bold;
}

body > div#navbar > div#title {
	height: 56px;
	display: flex;
	align-items: center;
	font-size: 20px;
	float: left;
	transition: margin 0.25s;
}

body > div#navbar label.btn {
	font-size: 28px;
	position: relative;
	height: 56px;
	display: flex;
	align-items: center;
	float: right;
	padding: 0 24px;
	transition: margin 0.25s;
}

body > div#navbar label.btn > b {
	transform: rotate(-45deg);
	display: block;
}

body > div#navbar > form {
	width: 100%;
	position: absolute;
	bottom: 0;
	top: 100%;
}

body > div#navbar > form > input {
	float: right;
	position: absolute;
	bottom: 0;
	right: 0;
	height: 0;
	width: 0;
	padding: 0;
	margin: 28px 32px;
	border-radius: 2px;
	font-size: 16px;
	background: #fff;
	border: none;
	z-index: 2;
}

body > div#navbar > form > input:focus {
	height: 24px;
	width: calc(100% - 68px);
	padding: 8px 40px 8px 12px;
	margin: 8px;
	box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.4);
	transition: all 0.25s;
}

body > div#navbar > form > label.btn {
	position: absolute;
	z-index: 3;
	right: 0;
	bottom: 0;
	padding-left: 0;
	display: none;
	color: rgba(64, 64, 64, 0.75);
	height: 56px;
}

body > div#navbar > form > input:focus ~ label.btn {
	display: flex;
}

body > div#navbar:target > div#nav {
	margin-left: 0;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

body > div#navbar:target > a#close > div {
	width: 100vw;
	left: 0;
	top: 0;
	height: 100vh;
	background: rgba(0, 0, 0, 0.4);
	transition: background 0.25s;
	position: fixed;
	z-index: 3;
}

body > div#content {
	padding: 0;
	margin: 0 auto;
	width: 100%;
	max-width: 2560px;
	background: #fff;
	transition: padding 0.25s, width 0.25s, background 0.25s, margin 0.25s;
	margin-top: 56px;
}

body > div#content > div {
	width: 100%;
}

body > div#content > div#header {
	
}

body > div#content > div#columns {
	column-gap: 0;
	-moz-column-gap: 0;
	page-break-inside: avoid;
	line-height: 0;
}

body > div#content > div > div {
	background: #fff;
	width: 100%;
	border-radius: 0;
	margin: 0;
	border-bottom: 1px solid #eee;
	transition: all 0.25s;
	overflow: hidden;
	page-break-inside: avoid;
	line-height: 24px;
}

body > div#content > div#columns > div {
	display: inline-block;
}

body > div#content > div > div p {
	margin: 16px;
	padding: 0;
}

body > div#content > div > div a.action {
	margin: 8px 0 8px 8px;
	border-radius: 2px;
	padding: 8px;
	line-height: 20px;
	color: #ff5722;
	transition: background 0.25s;
	font-weight: 500;
	display: inline-block;
}

body > div#content > div > div a.disabled {
	color: rgba(0, 0, 0, 0.26);
	cursor: pointer;
}

body > div#content > div > div a.action:hover {
	background: rgba(153, 153, 153, 0.2);
}

body > div#content > div > div a.action:active {
	background: rgba(153, 153, 153, 0.4);
}

body > div#content > div > div > a.round {
	float: left;
	width: 40px;
	height: 40px;
	margin: 16px 0 16px 16px;
	display: block;
}

body > div#content > div > div > div.text {
	float: left;
	margin: 16px;
	line-height: 20px;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.4);
}

body > div#content > div > div > div.text > b {
	color: rgba(0, 0, 0, 0.7);
}

body > div#content > div > div > label {
	width: 100%;
	overflow: hidden;
	display: block;
	color: rgba(0, 0, 0, 0.75);
	font-weight: 500;
	transition: max-height 0.25s, background 0.25s;
	max-height: 100px;
	line-height: 20px;
}

body > div#content > div > div > label:hover {
	background: rgba(153, 153, 153, 0.2);
}

body > div#content > div > div > div.collapse {
	max-height: 0;
	overflow: hidden;
	width: 100%;
	opacity: 0;
	transition: max-height 0.5s, opacity 0.5s;
}

body > div#content > div > div > form {
	padding: 12px;
}

body > div#content > div > div > form > div {
	width: 100%;
	clear: both;
	margin-bottom: 8px;
}

body > div#content > div > a.jump {
	position: relative;
	top: -56px;
	display: block;
	width: 0;
}

body > div#content > div#footer > div {
	#margin-bottom: 0;
	text-align: center;
}

@keyframes toastdiv {
	0% { bottom: -48px; color: rgba(0,0,0,0); }
	10% { bottom: 0; }
	20% { color: #fff; }
	90% { bottom: 0; color: #fff; }
	100% { bottom: -48px; color: rgba(0,0,0,0); }
}

@keyframes toastdiva {
	0% { color: rgba(0,0,0,0); }
	20% { color: #ff5722; }
	90% { color: #ff5722; }
	100% { color: rgba(0,0,0,0); }
}

@keyframes toastbutton {
	0% { bottom: 16px; }
	10% { bottom: 64px; }
	90% { bottom: 64px; }
	100% { bottom: 16px; }
}

body > div#toast {
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 3;
	background: #323232;
	position: fixed;
	padding: 14px 24px;
	line-height: 20px;
	min-width: 240px;
	max-width: 520px;
	bottom: -48px;
	color: rgba(0,0,0,0);
	transition: all 0.25s;
}

body > div#toast > a {
	float: right;
	display: block;
	color: rgba(0,0,0,0);
	border-radius: 2px;
	transition: box-shadow 0.25s;
	font-weight: 500;
	padding: 8px 12px;
	margin: -8px -12px -8px 12px;
}

body > div#toast:target {
	animation-name: toastdiv;
	animation-duration: 5s;
}

body > div#toast:target > a {
	animation-name: toastdiva;
	animation-duration: 5s;
}

body > div#toast:target ~ a#button {
	animation-name: toastbutton;
	animation-duration: 5s;
}

body > a#button {
	position: fixed;
	bottom: 16px;
	right: 16px;
	z-index: 2;
	color: #fff !important;
	height: 56px;
	width: 56px;
	display: flex;
	align-items: center;
	border-radius: 50%;
	transition: all 0.25s;
}

body > a#button > b {
	width: 100%;
	display: block;
	text-align: center;
	font-size: 28px;
	font-weight: 300;
	transition: font-size 0.25s;
}

@media screen and (min-width: 500px) {
	body > div#navbar > div#nav {
		width: 320px;
		margin-left: -320px;
	}

	body > div#navbar > div#nav > label > a {
		margin: 24px 0 12px 24px;
	}

	body > div#navbar > div#nav > label > div {
		padding-left: 24px;
		padding-right: 28px;
	}

	body > div#navbar > div#nav > div > a {
		padding-left: 24px;
		padding-right: 24px;
	}

	body > div#content {
		padding: 4px;
		width: calc(100% - 8px);
		background: none;
	}

	body > div#content > div > div {
		margin: 4px;
		width: calc(100% - 8px);
		border-radius: 2px;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
		border-bottom: none;
	}

	body > div#content > div > div:hover {
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	}

	body > div#content > div > div > a.jump {
		position: absolute;
		top: -64px;
	}

	@keyframes toastbuttonlarge {
		0% { bottom: 24px; }
		10% { bottom: 72px; }
		90% { bottom: 72px; }
		100% { bottom: 24px; }
	}

	body > div#toast {
		border-radius: 2px;
		box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
	}

	body > div#toast > a {
		margin-left: 36px;
	}

	body > div#toast:target ~ a#button {
		animation-name: toastbuttonlarge;
	}

	body > a#button {
		bottom: 20px;
		right: 24px;
		width: 64px;
		height: 64px;
	}

	body > a#button > b {
		font-size: 32px;
	}

	body > div#content > div > a.jump {
		top: -60px;
	}
}

@media screen and (min-width: 800px) {
	body > div#content > div#columns {
		column-count: 2;
		-moz-column-count: 2;
	}
}

@media screen and (min-width: 1280px) {
	body > div#content > div#columns {
		column-count: 3;
		-moz-column-count: 3;
	}
}

@media screen and (min-width: 1920px) {
	body > div#content > div#columns {
		column-count: 4;
		-moz-column-count: 4;
	}
}

@media screen and (min-width: 2560px) {
	body > div#content > div#columns {
		column-count: 5;
		-moz-column-count: 5;
	}
}

@media screen and (min-height: 720px) {
	body > div#navbar {
		height: 112px;
	}

	body > div#navbar > div#title {
		#height: 50%;
		margin-top: 56px;
		margin-left: -40px;
	}

	body > div#navbar label.btn {
		margin-top: 56px;
		#height: 50%;
	}

	body > div#navbar > a#open {
		#float: none;
		#height: 50%;
	}

	body > div#content {
		margin-top: 112px;
	}
}