body, .light {
	background: #fff !important;
}

.container {
	background: #eee !important;
}

.medium {
	background: #fff !important;
}

::-webkit-scrollbar, ::-webkit-scrollbar-track {
	background: #5ccc !important;
}

.dark {
	#background: #bbb !important;
	#color: #fff;

	background: #4CAF50 !important;
	color: #fff !important;
}

::-webkit-scrollbar-thumb {
	background: #aaa !important;
}